.card-header {
    background-color: #f8f9fa;
    color: #495057;
    font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* empleado_dashboard.css */

.table th, .table td {
    vertical-align: middle;
}

.table .btn-sm {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
}

.modal .modal-footer button {
    width: 100px;
}
