/* Estilos específicos para la galería */

.carousel-container {
    display: flex !important;
    flex-direction: row !important; 
    justify-content: center !important; 
    align-items: flex-start !important; 
    margin: 30px auto !important; 
    width: 100% !important;  
}

.carousel-cont {
    width: 500px auto !important;
    height: 500px auto !important;
    position: relative !important;  
}

.carousel-indicators {
    top: 50% !important;
    left: -610px !important;
    transform: translateY(-62%) !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    position: absolute !important;
    justify-content: space-around !important;
    height: 75% !important;
    z-index: 10 !important;
}

.carousel-indicators button {
    transition: transform 0.3s ease !important;
}

.carousel-indicators button:hover {
    transform: scale(1.1) !important;
}

.carousel-indicators img {
    transition: transform 0.3s ease !important;
}

.carousel-indicators img {
    width: 50px !important;
    height: 50px !important;
    display: flex !important;
    border-radius: 10% !important;
    margin-bottom: 100px !important;
}

.carousel-indicators button {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

.carousel-inner img {
    max-width: 100% !important;
    height: auto !important;
    border-radius: 5% !important;
}

.text-container {
    transform: translateX(20%) !important;
    margin-left: 10px !important;
    max-width: 300px !important;
    text-align: center !important;
}

.text-container h5 {
    font-size: 1.5rem !important;
    margin-bottom: 15px !important;
}

.text-container p {
    font-size: 1rem !important;
    color: #333 !important;
}

.carousel-control-prev,
.carousel-control-next {
    width: 40px !important;
    z-index: 15 !important;
}
