/* Estilos específicos para la galería */

.carousel-container {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-start; 
    margin: 20px auto; 
    width: 100%; 
}

.carousel-cont {
    width: 500px;
    height: 500px;
    position: relative;
}

.carousel-indicators {
    top: 50%;
    left: -620px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: space-around;
    height: 65%;
    z-index: 10;
}

.carousel-indicators button {
    transition: transform 0.3s ease;
}

.carousel-indicators button:hover {
    transform: scale(1.1);
}

.carousel-indicators img {
    transition: transform 0.3s ease;
}

.carousel-indicators img {
    width: 100px;
    height: 30px;
    display: flex;
    border-radius: 1%;
    margin-bottom: 10px;
}

.carousel-indicators button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.carousel-inner img {
    max-width: 100%;
    height: auto;
    border-radius: 3%;
}

.text-container {
    margin-left: 20px;
    max-width: 300px;
    text-align: center; 
}

.text-container h5 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.text-container p {
    font-size: 1rem;
    color: #333;
}

.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    z-index: 15;
}
