{% extends "base.html" %}

{% block title %}Quiénes Somos - SPA Sentirse Bien{% endblock %}

<!--Esto enlaza el .css respectivo para aplicarlo a esta pagina-->
{% block styles %}
    <link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- Masthead -->
    <header class="masthead">
        <div class="fade-background d-flex align-items-center justify-content-center">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-12">
                        <div class="text-center text-black p-4">
                            <!-- Page heading -->
                            <h1 class="mb-5">Sobre Nosotros</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section class="showcase" style="background-color: #e9ffc7;">
        <div class="icon-text-container">
            <div class="text2">
                <h3>Experiencia y profesionalismo</h3>
                <p>
                    <br>En Sentirse Bien, nos enorgullece contar con un equipo de expertos en bienestar y cuidado personal. Con años de experiencia en el sector, nuestros profesionales están altamente capacitados para ofrecer tratamientos personalizados que revitalizan cuerpo y mente. Desde masajes terapéuticos hasta tratamientos faciales, cada uno de nuestros servicios está diseñado para ofrecerte la mejor experiencia de relajación.
                </p>
            </div>  
            <img src="/static/assets/img/Bienestar1.png" alt="Icono" class="icon">
        </div>
        
        <div class="row g-0" style="background-color: #d0e1b5;">
            <div class="icon-text-container">
                <img src="/static/assets/img/Ambiente1.png" alt="Icono" class="icon2">
                <div class="text">
                    <h3>Ambiente relajado y exclusivo</h3>
                    <p>
                        <br>Hemos creado un espacio donde cada detalle está pensado para brindarte paz y tranquilidad. Nuestro SPA está diseñado para que desde el momento en que entras, te envuelvas en un ambiente de serenidad. Cada sala, cada aroma, y cada sonido están cuidadosamente seleccionados para maximizar tu bienestar, permitiéndote desconectar del estrés diario y rejuvenecer tu espíritu.
                    </p>
                </div>
            </div>
        </div>

        <div class="icon-text-container">
            <div class="text2">
                <h3>Compromiso con la calidad</h3>
                <p>
                    <br>En Sentirse Bien, solo trabajamos con productos de la más alta calidad para garantizar que cada tratamiento sea efectivo y seguro. Nos comprometemos a ofrecerte lo mejor en cuidado personal, utilizando ingredientes naturales y técnicas avanzadas que aseguran resultados visibles y duraderos. Tu bienestar es nuestra prioridad, y nos esforzamos por ofrecerte una experiencia única en cada visita.
                </p>
            </div>
            <img src="/static/assets/img/Calidad.png" alt="Icono" class="icon">
        </div>
    </section>

    <section class="contact-us">
        <h2>Te interesa? Contáctenos</h2>
        <div class="contact-info">
            <div class="contact-item">
                <h3>Correo Electrónico:</h3>
                <p><a href="javascript:void(0);">info@ejemplo.com</a></p>
            </div>
            <div class="contact-item">
                <h3>Teléfono:</h3>
                <p><a href="javascript:void(0);">+123 456 789</a></p>
            </div>
        </div>
    </section>
    <div id = "mapa-container">
        <div id = "mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d68335.78374176494!2d-80.19259122549929!3d25.821474937768507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b70023af8d09%3A0x124592ae000c1027!2sSpa%20Sentirse%20Bien!5e0!3m2!1ses-419!2sar!4v1726322695900!5m2!1ses-419!2sar" width="1863" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    
{% endblock %}