{% extends "base.html" %}

{% block title %}Sobre Nosotros - SPA Sentirse Bien{% endblock %}

<!--Esto enlaza el .css respectivo para aplicarlo a esta pagina-->
{% block styles %}
    <link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Masthead -->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <h1 class="mb-5">Sobre nosotros</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="presentacion bg-light">
        <div class="container d-flex justify-content-center align-items-center flex-column">
            <div class="row justify-content-center">
                <div class="mb-4">
                    <img src="/static/assets/img/logo.png" alt="logo" style="max-width: 200px; height: auto;">
                </div>
                <h2 class="custom-text-color">Sentirse Bien</h2>
            </div>
        </div>
    </section>


        <section class="showcase" style="background-color: #e9ffc7;">
                <div class="icon-text-container">
                    <div class = "text2">
                        <h3>Experiencia y profesionalismo</h3>
                        <p>
                            <br>En Sentirse Bien, nos enorgullece contar con un equipo de expertos en bienestar y cuidado personal. Con años de experiencia en el sector, nuestros profesionales están altamente capacitados para ofrecer tratamientos personalizados que revitalizan cuerpo y mente. Desde masajes terapéuticos hasta tratamientos faciales, cada uno de nuestros servicios está diseñado para ofrecerte la mejor experiencia de relajación.
                        </p>
                    </div>  
                    <img src="/static/assets/img/Bienestar1.png" alt = "Icono" class="icon">
                      
                </div>
                <div class="row g-0" style="background-color: #d0e1b5;">   
                        <div class="icon-text-container">
                            <img src="/static/assets/img/Ambiente1.png" alt ="Icono" class="icon2">
                            <div class ="text">
                                <h3>Ambiente relajado y exclusivo</h3>
                                <p>
                                    <br>
                                    Hemos creado un espacio donde cada detalle está pensado para brindarte paz y tranquilidad. Nuestro SPA está diseñado para que desde el momento en que entras, te envuelvas en un ambiente de serenidad. Cada sala, cada aroma, y cada sonido están cuidadosamente seleccionados para maximizar tu bienestar, permitiéndote desconectar del estrés diario y rejuvenecer tu espíritu.
                                </p>
                            </div>
                        </div>
                </div>
                    <div class="icon-text-container">
                        <div class = "text2">
                            <h3>Compromiso con la calidad</h3>
                            <p>
                                <br>
                                En Sentirse Bien, solo trabajamos con productos de la más alta calidad para garantizar que cada tratamiento sea efectivo y seguro. Nos comprometemos a ofrecerte lo mejor en cuidado personal, utilizando ingredientes naturales y técnicas avanzadas que aseguran resultados visibles y duraderos. Tu bienestar es nuestra prioridad, y nos esforzamos por ofrecerte una experiencia única en cada visita.
                            </p>
                        </div>
                        <img src="/static/assets/img/Calidad.png" alt = "Icono" class="icon">
                    </div>
        </div>
    </section>

    <section class="contact-us">
        <h2>Te interesa? Contáctenos</h2>
        <div class="contact-info">
            <div class="contact-item">
                <h3>Correo Electrónico:</h3>
                <p><a href="javascript:void(0);">info@ejemplo.com</a></p>
            </div>
            <div class="contact-item">
                <h3>Teléfono:</h3>
                <p><a href="javascript:void(0);">+123 456 789</a></p>
            </div>
        </div>
    </section>
{% endblock %}