{% extends "base.html" %}

{% block title %}Inicio - SPA Sentirse Bien{% endblock %}

{% block content %}
    <!-- Masthead -->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading -->
                        <h1 class="mb-5">Generate more leads with a professional landing page!</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Presentacion -->
    <section class="presentacion bg-light">
        <div class="container d-flex justify-content-center align-items-center flex-column">
            <div class="row justify-content-center">
                <div class="mb-4">
                    <img src="/static/assets/img/logo.png" alt="logo" style="max-width: 200px; height: auto;">
                </div>
                <h2 class="custom-text-color">Sentirse Bien</h2>
                <p class="custom-text-color lead mb-0">
                    Buscamos atraer la atención de nuestros clientes a través de experiencias inspiradas en la seducción de los sentidos. 
                    Adaptamos las propuestas con el objetivo de que logren desconectarse completamente de la rutina y disfruten de un momento de bienestar, en total armonía con la naturaleza.
                </p>
            </div>
        </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/assets/img/Masaje.jpeg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Relájate y renueva tu energía con nuestros masajes exclusivos.</h2>
                    <p class="lead mb-0">
                        <strong>Anti-stress:</strong> Alivia la tensión y calma la mente.
                        <br>
                        <strong>Descontracturante:</strong> Libera tus músculos de la rigidez.
                        <br>
                        <strong>Piedras Calientes:</strong> Relájate con el calor terapéutico.
                        <br>
                        <strong>Circulatorio:</strong> Estimula tu circulación y siéntete revitalizado.
                    </p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/assets/img/Depilacion2.jpeg');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Ofrecemos una gama de tratamientos de belleza diseñados para realzar tu aspecto y brindarte una experiencia rejuvenecedora.</h2>
                    <p class="lead mb-0">
                        <strong>Lifting de Pestañas:</strong> Realza la belleza natural de tus ojos con nuestro tratamiento de lifting de pestañas, que ofrece un efecto de mayor curvatura y una mirada más expresiva.
                        <br>
                        <strong>Depilación Facial:</strong> Disfruta de una piel suave y libre de vello con nuestra depilación facial, realizada con técnicas delicadas y efectivas para asegurar tu comodidad.
                        <br>
                        <strong>Belleza de Manos y Pies:</strong> Mimamos tus manos y pies con tratamientos que incluyen exfoliación, hidratación y cuidado, para que luzcan y se sientan impecables.
                    </p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/assets/img/Facial.jpeg')"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Revitaliza tu piel con nuestros exclusivos tratamientos faciales, diseñados para ofrecerte una experiencia de belleza y bienestar.</h2>
                    <p class="lead mb-0">
                        <strong>Punta de Diamante:</strong> Disfruta de una microexfoliación avanzada con nuestra punta de diamante, que elimina células muertas y promueve una piel más suave y luminosa.
                        <br>
                        <strong>Limpieza Profunda + Hidratación:</strong> Nuestro tratamiento completo de limpieza profunda y hidratación elimina impurezas y nutre tu piel, dejándola fresca y radiante.
                        <br>
                        <strong>Criofrecuencia Facial:</strong> Experimenta el innovador efecto lifting de la criofrecuencia facial, que utiliza un "shock térmico" para obtener resultados visibles e inmediatos.
                    </p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/assets/img/CRIO.jpg');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Nuestros tratamientos corporales están diseñados para ayudarte a lograr una figura más esbelta y tonificada, mientras disfrutas de una experiencia de bienestar integral.</h2>
                    <p class="lead mb-0">
                        <strong>VelaSlim:</strong> Este tratamiento está enfocado en reducir la circunferencia corporal y la celulitis, promoviendo una piel más suave y firme.
                        <br>
                        <strong>DermoHealth:</strong> Con nuestra técnica de movilización de tejidos y estimulación de la microcirculación, experimenta un drenaje linfático efectivo que revitaliza y renueva tu piel.
                        <br>
                        <strong>Criofrecuencia:</strong> Obtén un lifting instantáneo con nuestro tratamiento de criofrecuencia, que tonifica la piel y mejora su apariencia en una sola sesión.
                        <br>
                        <strong>Ultracavitación:</strong> Una técnica reductora avanzada que utiliza ultrasonido para ayudar a eliminar grasa localizada y redefinir tu figura.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">What people are saying...</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/static/assets/img/testimonials-1.jpg" alt="..." />
                        <h5>Margaret E.</h5>
                        <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/static/assets/img/testimonials-2.jpg" alt="..." />
                        <h5>Fred S.</h5>
                        <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="/static/assets/img/testimonials-3.jpg" alt="..." />
                        <h5>Sarah W.</h5>
                        <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
