{% extends "base.html" %}

{% block title %}Empleo - SPA Sentirse Bien{% endblock %}

<!--Esto enlaza el .css respectivo para aplicarlo a esta pagina-->
{% block styles %}
    <link href="{{ url_for('static', filename='css/jobs.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Sección de Empleo -->
    <div class="container my-5 employment-section">
        <h1 class="text-center mb-4">¿Estás interesado en trabajar con nosotros? ¡Envíanos tu CV!</h1>

        <!-- Contenedor con borde redondeado -->
        <div class="card shadow-sm p-4 mb-5 bg-white rounded">
            <form id="jobApplicationForm" action="/submit-job-application" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="nombre@ejemplo.com" required>
                </div>

                <div class="mb-3">
                    <label for="cv" class="form-label">Sube tu CV</label>
                    <input type="file" class="form-control" id="cv" name="cv" accept=".pdf,.doc,.docx" required>
                    <small class="form-text text-muted">Formatos aceptados: PDF, DOC, DOCX</small>
                </div>

                <div class="mb-3">
                    <label for="message" class="form-label">Contanos acerca de vos</label>
                    <textarea class="form-control" id="message" name="message" rows="5" placeholder="Cuéntanos sobre tus habilidades, experiencia y por qué te gustaría trabajar con nosotros." required></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>

        <p class="mt-4">Los candidatos pasarán por un proceso de selección donde evaluaremos sus habilidades y experiencia. Nos pondremos en contacto contigo si tu perfil se ajusta a nuestras necesidades.</p>
    </div>

    <!-- Agregar script para mostrar la notificación -->
    <script>
        document.getElementById('jobApplicationForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Evita que el formulario se envíe

            
            alert('¡Tu CV ha sido enviado con éxito!');

            
            this.reset();
        });
    </script>
{% endblock %}
