{% extends "base.html" %}

{% block title %}Noticias - SPA Sentirse Bien{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
{% endblock %}

{% block content %}

<!-- Masthead -->
<header class="masthead">
    <div class="fade-background d-flex align-items-center justify-content-center">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12">
                    <div class="text-center text-black p-4">
                        <!-- Page heading -->
                        <h1>Noticias del Mundo del SPA</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container my-5">
    <h1 class="text-center"></h1>
  
    <div id="news-section">
        <!-- Las noticias se mostrarán aquí -->
    </div>
</div>
{% endblock %} 



{% block scripts %}
<script src="{{ url_for('static', filename='js/news.js') }}"></script>
{% endblock %}