{% extends "base.html" %}

{% block title %}Servicios - SPA Sentirse Bien{% endblock %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/services.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Sección de Servicios -->
    <div class="container my-5">
        <h1 class="text-center mb-4">Explora nuestros servicios</h1>
        {% for category, services in categories.items() %}
        <h2>{{ category }}</h2>
        <div class="row">
            {% for service in services %}
            <div class="col-md-4 mb-4">
                <div class="service-card">
                    <h3>{{ service['name'] }}</h3> <!-- Título por fuera de la imagen -->
                    <img src="{{ url_for('static', filename='assets/img/' + service['image']) }}" alt="{{ service['name'] }}">
                    <div class="service-info">
                        <p>{{ service['description'] }}</p>
                        <h4>Precio: {{ service['price'] }}</h4>
                        <button class="btn btn-primary btn-choose">Elegir</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr> <!-- Separador entre categorías -->
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Aquí se debe incluir cualquier script adicional necesario para las animaciones -->
{% endblock %}
